.header {
  align-items: center;
  background-color: #01C5F5;
  display: flex;
  justify-content: space-between;
}

.img {
  max-width: 50px;
}

.promotiotion-bar {
  display: flex;
  justify-content: space-between;
}
