.footer {
    background-color: #F6F6F6;
    bottom: 0;
    position: fixed;
    width: 100%;
    text-align: center;
}

.logo-youtube{
    max-width: 50px;
}

.section1-footer {
    display: flex;
    justify-content: space-between;
}

.whats-app{
    display: flex;
}

.logo-whatsapp {
    max-width: 21px;
}

.logo-footer {
    max-width: 224px;
}

.redes-sociais li{
    display: inline;
}